<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinetree.welldone"
    android:versionCode="10"
    android:versionName="1.0.0.9"
    >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/welldone_icon"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoActionBar"
        android:name="com.pinetree.welldone.utils.DeviceInfo" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LockActivity"
            android:label="@string/app_name">
        </activity> 
        <service android:name="com.pinetree.welldone.services.AppCounterService"/>
        <service android:name="com.pinetree.welldone.services.LogService"/>
        <!--  -->
        <receiver
            android:name="com.pinetree.welldone.receivers.ServiceCaller$DateChangedBR"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"></action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pinetree.welldone.receivers.ServiceCaller$LogServiceCallBR"
            android:enabled="true"
            android:exported="false"
            />
        <receiver
            android:name="com.pinetree.welldone.receivers.ServiceCaller$ServiceCallBR"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>
                <action android:name="android.intent.action.PACKAGE_REPLACED"></action>
                <data android:scheme="package"></data>
            </intent-filter>
        </receiver>
    </application>

</manifest>
